{% extends "base.html" %} {% block head %}
<title>{{ constants.siteName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ constants.siteDescription }}">
<meta name="author" content="{{ author.name }}">
<link rel="shortcut icon" href="{{ constants.siteIcon }}"> {% endblock %} {% block content %}
<div class="header">
    <div class="subheader">
        <div class="author-details">
            <h1 class="author-name">
                {{author.name}}
            </h1>
            <div class="links">
                <a href="https://blog.amitprasad.dev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256" class="dynamic-stroke">
                        <line x1="112" y1="112" x2="176" y2="112" fill="none" stroke="#000000"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                        <line x1="112" y1="144" x2="176" y2="144" fill="none" stroke="#000000"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                        <rect x="40" y="40" width="176" height="176" rx="8" stroke-width="16" stroke="#000000"
                            stroke-linecap="round" stroke-linejoin="round" fill="none"></rect>
                        <line x1="80" y1="40" x2="80" y2="216" fill="none" stroke="#000000"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                    </svg> Blog
                </a>
                <a href="mailto:mail@amitprasad.dev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256" class="dynamic-stroke">
                        <polyline points="224 56 128 144 32 56" fill="none" stroke="#000000"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                        <path
                            d="M32,56H224a0,0,0,0,1,0,0V192a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V56A0,0,0,0,1,32,56Z"
                            fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="16"></path>
                        <line x1="110.54541" y1="128.00013" x2="34.4668" y2="197.73926" fill="none"
                            stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
                        </line>
                        <line x1="221.53418" y1="197.73926" x2="145.45424" y2="127.99964" fill="none"
                            stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
                        </line>
                    </svg> Contact</a>

                <a href="https://github.com/AmitPr"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        width="16" height="16">
                        <path fill-rule="evenodd" class="dynamic-fill"
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                        </path>
                    </svg> Github</a>
            </div>
        </div>
        <div class="avatar-container">
            <img src="{{author.icon}}" class="avatar avatar-big" alt="Amit Prasad" />
        </div>
    </div>
    <div class="siteInfo">
        <p>{{constants.siteDescription}}</p>
    </div>
</div>
<h1>Recent Posts</h1>
{% for post in posts|sort(attribute="createdAt") %}
<div class="post-preview">
    <a href="{{post.url}}" style="text-decoration: none;">
        <h2 class="post-title">{{post.title}}</h2>
    </a>
    <p class="post-description">{{post.description}}</p>
    <p class="post-date subdued">{{post.createdAt.strftime("%B %-d, %Y")}}</p>
</div>
{% endfor %} {% endblock %}