body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #24292E;
}

.dynamic-stroke * {
    stroke: #24292E;
}

.dynamic-fill {
    fill: #24292E;
}

body.dark {
    background-color: #1b1b1b;
    color: #F6F4F3;
}

body.dark .dynamic-stroke * {
    stroke: #F6F4F3;
}

body.dark .dynamic-fill {
    fill: #F6F4F3;
}

body.light .subdued {
    color: #8b95a0;
}

body.dark .subdued {
    color: #8d8682;
}

a {
    color: #276FBF;
}

p {
    line-height: 1.5em;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

.header {
    margin: 2em 0;
}

.header h1 {
    font-size: 3em;
}

.subheader {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.author-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.links svg {
    display: inline;
    height: 2em;
    width: 2em;
}

.links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.links a {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0 1em;
}

.author-details h1 {
    margin: 0;
}

@media (min-width: 640px) {
    .subheader {
        flex-flow: row wrap;
    }
    .avatar-container {
        align-items: flex-end;
    }
    .author-details {
        align-items: flex-start;
        flex-flow: column wrap;
    }
    .links {
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .links a {
        flex-flow: row;
        align-items: center;
        text-align: left;
        margin: 0;
    }
    .links svg {
        margin-right: 1em;
        height: 1.5em;
        width: 1.5em;
    }
}

.post-details a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.post-details p {
    display: inline;
    font-size: 1em;
    margin-left: 0.25em;
    margin-bottom: 0;
}

.actions,
.post-details,
.image-container {
    display: flex;
    align-items: center;
}

.image-container {
    flex-shrink: 0;
}

.actions a {
    padding: 0 0.5em;
}

.siteInfo {
    margin-top: 1em;
}

img.avatar {
    height: 2em;
    width: auto;
    border-radius: 50%;
    margin-right: 0.3em;
}

img.avatar-big {
    height: 10em;
    width: auto;
    border-radius: 50%;
    margin-right: 0.3em;
}

.author-name {
    margin: none;
}

.author-name a {
    color: inherit;
    text-decoration: none;
}

.post-preview p {
    margin: 0;
}